* {
    font-family: 'Red Hat Display', sans-serif;
}

.notransition * { 
    transition: none !important; 
} 

html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: black;
}

body {
    background-color: black;
    background-image: url("../images/landscape_bg.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
    margin: 0px;
    padding: 0px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    text-decoration: none;
}

a:active {
    color: white;
    text-decoration: none;
}

.grid-container {
    display: grid;
    grid-template-rows: 5vh 92vh 3vh;
    grid-template-columns: 1fr 8fr 1fr;
    margin: 0px;
    padding: 0px;
}

.header_bg {
    grid-area: 1 / 1 / 2 / -1;
    background-color: black;
    height: 100%;
    width: 100%;
}

.signature {
    grid-area: 1 / 1 / 2 / 2;
    justify-self: flex-start;
    color: white;
    align-self: center;
    padding-left: 1vw;
}

.current {
    border-radius: 20px;
    background: linear-gradient(to bottom left, rgb(31, 186, 180), rgb(58, 148, 235));
    position: absolute;
    z-index: 1;
    transition: all 0.5s;
}

.inner {
    border-radius: 20px;
    background: black;
    position: absolute;
    z-index: 2;
    transition: all 0.5s;
}

.pages {
    display: flex;
    grid-area: 1 / 1 / 2 / -1;
    width: 60vw;
    min-width: 500px;
    justify-self: flex-end;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
    font-size: max(1vw, 15px);
}

.pdf {
    grid-area: 2 / 1 / -2 / -1;
    height: 100%;
    width: 100%;
}

.footer {
    grid-area: -2 / 1 / -1 / -1;
    background-color: black;
}

p {
    text-align: center;
}

.download-link {
    color: white;
    text-align: center;
    text-decoration: underline;
}